@model BikeShop.Domain.Error

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Error</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Everything)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Everything)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HttpReferer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HttpReferer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathAndQuery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathAndQuery)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
